body {
	background-color:#D8BFD8 /*Thistle*/
}

#topTitle
{
  /* background: red; */
  margin-top: 15px;
  margin-left: 10px;
}

#dropdown
{
  width: 50%
}

#mainAreaRow
{
  margin-left: 10px;
}

#input-Autocomplete
{
  width: 50%;
}

#mainArea
{
  /* background: green; */

}

#sidebarArea
{
  /* background: orange */

}

#searchBarContainer
{
margin-left: 10px;
margin-bottom: 30px;
/* background-color: purple; */
}


#footerContainer
{
  padding: 15px;
  margin-top: 20px;

  background-color: #8c0d26;
  text-align: center;

  font-size: 16px;
  font-style: italic;
  color: white;

  width: 100%;
  color: white;
  text-align: center;
}

#avatar {
	width: 120px;
	height: 120px;
}

.dropbtn {
  color: white;
  padding: 3px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #f1f1f1;
}

.dropdown {
  padding-top: 20px;
  position: relative;
  display: inline-block;
  float: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
