<!doctype html>
<html>
<head>
	<title>WeatherApp</title>
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1 class="title">WeatherApp</h1>
  <h2 class="byline">by Expanse</h2>
	{{{body}}}
</body>
</html>
