<!doctype html>
<html>
<head>
	<title>WeatherApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{this.title}}</title>
  
  <!--for icons-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="css/mainPage.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script src="/js/inputValidation.js"></script>
  <script src="/js/showAlert.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS4AUgk9_XfGOb143z63Qm9lF0-UgBi38&libraries=places&callback=initMap"
        defer></script>
	<script src="/js/autocomplete.js"> </script>
</head>
<body>
	{{{body}}}
</body>
</html>
