<!-- we can implement autocomplete tab here
     with the list of zipcode/cities options-->

<!--search tab and buttons-->
<form action="" method="post">
  <input type="hidden"
         name="username"
         value={{this.username}}>
  <input id="input-Autocomplete"
         placeholder="Search by zipcode/city"
         name="place">



  <button class="btn"
          id="searchBtn"
          name="search"
          type="submit"
          value="search">
    <i class="fa fa-search"></i>
  </button>
  <button class="btn"
          id="addBtn"
          name="add"
          type="submit"
          value="add">
    <i class="fa fa-plus"></i>
  </button>

  <button class="btn"
          id="subBtn"
          name="subtract"
          type="submit"
          value="subtract">
    <i class="fa fa-minus"></i>
  </button>

</form>

<form action="" method="post" style="margin-top: 35px; margin-left: 270px; margin-bottom: -10px;">
  <select id="units" name="units" value="imperial" style="border-radius:36px;
  overflow:hidden;">
    <option value="imperial">Fahrenheit</option>
    <option value="metric">Celsius</option>
  </select>
  <input type="submit" value="Select Units" style="background-color: #DC143C; color:white; cursor: pointer; border: none; font-size: 14px; font-weight: bold;"/>
</form>
