<!--days of the week, starting with today-->
<table id="table_week" class="paddingBetweenRows">
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>

<script>
  var day = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];  
  var icons = ["Icon1", "Icon2", "Icon3", "Icon4", "Icon5", "Icon6", "Icon7"];
  var highest = ["Highest1", "Highest2", "Highest3", "Highest4", "Highest5", "Highest6", "Highest7"];
  var lowest = ["Lowest1", "Lowest2", "Lowest3", "Lowest4", "Lowest5", "Lowest6", "Lowest7"];
  
  var super_array = [day, icons, highest, lowest],
  table = document.getElementById("table_week");

  
  for(var i=1; i<table.rows.length;i++) {
    for(var j=0; j<table.rows[i].cells.length; j++)
      table.rows[i].cells[j].innerHTML = super_array[i-1][j];
  }
  
</script>
