<center>
{{> page_header}}
</center>

<form id="login-form" action="login" method="post"
      onSubmit="return usernameAndPasswordValidation();">
  <div class="container">
    <p style="font-size: 30px; font-style: italic; text-align: center; margin-bottom: -100px;">Welcome</p>
    <div style="margin-left: -25px; margin-right: -5px;">
      <div style="margin-left: 25px;">
        <input type="text" 
               name="username" 
               id="username" 
               class="login-form-input" 
               placeholder="Username">
        <input type="password" 
               name="password" 
               id="password" 
               class="login-form-input" 
               placeholder="Password">
      </div>
      <input type="submit" 
             id="login" 
             name="login" 
             value="Login" />
			<a href="register.html" id="register" style="font-size: 19px;">Register</a>
    </div>
  </div>
</form>

{{#if this.err_msg}}
  <h2>{{this.err_msg}}</h2>
{{/if}}