<center>
  {{> page_header}}
</center>

<form id="login-form" style="margin-top: -20px;"
      action="register" method="post"
      onSubmit="return usernameAndPassword2Validation();">
  <div class="container">
    <p style="font-size: 23px; font-style: italic; text-align: center;">Join us to always be aware of weather</p>
    <div style="margin-left: 40px; margin-top: -120px;">
      <div style="margin-left: 40px; margin-top: -57px;">
        <input type="text" 
           name="email" 
           id="email" 
           class="login-form-input" 
           placeholder="Email" 
           style="margin-bottom: -147px;">
        <input type="text" 
           name="username" 
           id="username" 
           class="login-form-input" 
           placeholder="Username"
           value="{{this.username}}">
        <input type="password" 
           name="password" 
           id="password" 
           class="login-form-input" 
           placeholder="Password">
        <input type="password" 
           name="password2" 
           id="password2" 
           class="login-form-input" 
           placeholder="Confirm password" 
           style="margin-top: -7px;">
      </div>
      <input type="submit" 
           id="login" 
           name="submit" 
           value="Register" 
           style="width: 110px; margin-left: 220px; margin-bottom: 4px;">
      <a href="login.html" id="register" style="font-size: 18px; font-style: italic; margin-bottom: -15px; margin-left: 185px;">Have already joined us?</a>
  </div>
</form>

{{#if this.err_msg}}
  <h2>{{this.err_msg}}</h2>
{{/if}}