<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/mainPage.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  </head>

  <body>

    <p hidden id="hiddenUsername">{{this.username}}</p>

    <div class="row">

    <div style="margin-bottom:-90px;">
      <center>
        {{> page_header}}
      </center>
    </div>

      <div class="col-4">
        <div class="dropdown">
          <img src="/css/avatar.jpg" onclick="myFunction()" class="dropbtn" id="avatar">
          <div id="myDropdown" class="dropdown-content">
            <a href="settings.html?username={{this.username}}">Settings</a>
            <a href="#">Help</a>
            <a href="login.html">Logout</a>
          </div>
        </div>
      </div>

    </div>



    <div class="row">
      <div class="col-8">
        <div id="searchBarContainer" class="align-middle">
          {{> location_select}}
        </div>
      </div>
    </div>



    <div class="row" id="mainAreaRow">

      <div class="col-7 mr-1" id="mainArea">

          {{#each this.locs}}
            <div class="row forecastRow">{{> cityForecastView}}</div>
          {{/each}}

      </div>

      <div class="col-4 mr-1" id="sidebarArea">
        <div class="container" id="currentDetailsArea">
              {{> sidebarView}}
        </div>
      </div>

    </div>

      {{#if this.err_msg}}
        <h2>{{this.err_msg}}</h2>
      {{/if}}

      <div class="footer" id="footerContainer">
        <div class="row">
          <div class="col-12">
            <p id="footer">Made by Expanse Team</p>
            <p id="footer">Oregon State University</p>
            <p id="footer">Summer 2020</p>
          </div>
        </div>
      </div>


  </body>

</html>










<script>




</script>






<script>
  function myFunction()
  {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  /* Close the dropdown if the user clicks outside*/
  window.onclick = function(event)
  {
    if (!event.target.matches('.dropbtn'))
    {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++)
      {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show'))
        {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>


<script>
document.addEventListener("DOMContentLoaded", function()
{
  var mainArea = document.getElementById('mainArea');
  var username = document.getElementById('hiddenUsername').textContent

  //var weatherPageLocations = document.getElementsByClassName("d-flex flexRow forecast-row")
  // weatherPageLocations.attachEvent('onclick', alert("666"), false);

  $( document ).ready(function() {
      console.log( "ready!" );

      $( ".forecastRow" ).on( "click", function()
      {
        var currentID = this.childNodes[15].id.substring(4);
        console.log("selected city: " + this.childNodes[15].id.substring(4));
        console.log("username: " + username)

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/weather", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('selected=' + currentID + '&username=' + username + "&select=select");

      });
  });

});
</script>


<!-- <script>

  var unitsChoiceGroup = document.unitsRadio.units
  var prev = null;
     for(var i = 0; i < unitsChoiceGroup.length; i++)
     {
         unitsChoiceGroup[i].onclick = function ()
         {
             console.log(this.value)
         };
     }

</script> -->
